/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} */

.edit-comment {
  margin-left: 40%;
}

.edit-form {
  margin-top: 20%;
  margin-bottom: 10%;
}

.post-form {
  margin-top: inherit;
}

.vote {
  margin-left: 40%;
}

.adjust-margin {
  margin-left: 12px;
}
.category{
  margin-left: 45%;
}
.comment {
  display: flex;
}

.shift-lt {
  margin-left: -30%
}

.border-post {
  width: 900px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}

.header-post {
  margin-top: 50px;
  display: -webkit-inline-box;
}

.comment-form {
  width: 100%;
  border: 0;
  font-size: 1.3rem;
  padding: 1rem 0;
  border-bottom: 1px solid lightgrey;
  outline: none;
  resize: vertical;
}

.single-post {
  margin-top: 120px;
}

.list-books-title {
  padding: 10px 0;
  background: #2e7c31;
  text-align: center;
}

.positon-header {
  margin-top: 160px;
  display: -webkit-inline-box;
}

.header-space {
  margin-left: 1em;
}

.boxed {
  border: 1px solid green;
  border-width: medium;
  width: 80%;
}
.body{
  margin-right: 11%;
}

.author {
  margin-top: -80px;
  margin-left: 120%;
}

.time {
  margin-left: 40%;
}

.delete {
  margin-left: 200px;
  margin-top: -40px;
}

.belowpost {
  margin-left: 70px;
}